<div class="logo-isen" style="font-size: 2Opx">
    <h1>ISEN</h1>
    <h2>documents de rentrée</h2>
</div>
<form>
    <p class="error" ng-show="error">{{error}}&nbsp;</p>
    <label for="email">E-mail :</label>
    <input type="text" name="email" id="email" ng-model="email"/>
    <label for="password">Mot de passe (reçu par e-mail) :</label>
    <input type="password" name="password" id="password" ng-model="password"/>
    <button ng-click="login()" ng-class="status" ng-disabled="status"><div class="label">Connexion</div><div class="spinner"></div></button>
</form>
