<div class="bienvenue">
    <div>
        <h1>Bienvenue à l'ISEN.</h1>
        <p>Avant de visionner les documents de rentrée, veuillez entrer vos informations de contact.</p>
        <button class="next">OK</button>
    </div>
</div>
<div class="contact">
    <form ng-submit="submit_infos()">
        <h2>Informations de contact :</h2>

        <h3>Vous :</h3>
        <p class="error" ng-show="error_form">{{error_form}}&nbsp;</p>
        <label for="nom">Nom :</label>
        <input type="text" name="nom" id="nom" ng-model="eleve.nom" ng-change="console.dir(eleve)"/>
        <label for="email">Adresse E-mail :</label>
        <input type="email" name="email" id="email" ng-model="eleve.email"/>
        <label for="ddn">Date de naissance :</label>
        <input type="text" name="ddn" id="ddn" ng-model="eleve.datenaissance"/>

        <h3>Vos parents :</h3>
        <label for="nom-parents">Nom:</label>
        <input type="text" name="nom-parents" id="nom-parents" ng-model="eleve.nomparent"/>
        <label for="email-parents">Adresse E-mail :</label>
        <input type="email" name="email-parents" id="email-parents" ng-model="eleve.emailparent"/>
        <label for="tel-parents">Téléphone mobile :</label>
        <input type="text" name="tel-parents" id="tel-parents" ng-model="eleve.telparent"/>
        <button ng-class="status" ng-disabled="status"><div class="label">Envoyer</div><div class="spinner"></div><div class="success-label">Merci !</div></button>
    </form>
</div>
<div class="promos">
    <button class="back" ng-click="set_panel(2)">Modifier mes informations</button>
    <h1>Sélectionner votre promotion</h1>
    <p class="error" ng-show="error_promos">{{error_promos}}&nbsp;</p>
    <ul>
        <!--ng-click permet d'appeler une fonction contenu dans le controller. Les doubles accolades permettent de préciser à Angular qu'il faut interpréter le code-->
        <li ng-click="select_promo(promo.id)" ng-repeat="promo in promos">{{promo.nompromotion}}</li>
        <!--ng-repeat permet de boucler dans un tableau. Un simple promos.push quelques part dans le code mettra à jour la vue -->
    </ul>
</div>

<div class="documents">
    <p class="error" ng-show="error_documents">{{error_documents}}&nbsp;</p>
    <button ng-click="set_panel(2)" class="back">Changer de promotion</button>
    <h1>Sélectionner vos documents</h1>
    <ul>
        <!--ng-if permet de faire du test. Si la condition est vraie, alors l'élément est affiché -->
        <li ng-click="select_document(document.id)" ng-repeat="document in documents">{{document.fichier}}</li>
        <!--Ici, l'élément est affiché si l'ID de promotion de l'élément correspond à la variable $scope.selected. 0 correspond aux documents communs-->
    </ul>
</div>
<div class="document-viewer">
</div>
