@font-face {
  font-family: titillium-regular;
  src: url("titillium/Titillium-Regular.ttf");
  font-weight: normal;
  font-style: normal; }
Titillium-Black.otf
Titillium-BoldItalic.otf
Titillium-Bold.otf
Titillium-BoldUpright.otf
Titillium-LightItalic.otf
Titillium-Light.otf
Titillium-LightUpright.otf
Titillium-RegularItalic.otf
Titillium-Regular.otf
Titillium-RegularUpright.otf
Titillium-SemiboldItalic.otf
Titillium-Semibold.otf
Titillium-SemiboldUpright.otf
Titillium-ThinItalic.otf
Titillium-Thin.otf
Titillium-ThinUpright.otf
