body.admin {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    .sidebar {
        button{
            color: white;
            background: transparent;
            border: none;
            border-top: 1px solid rgba(255,255,255,0.2);
            border-radius: 0;
            margin: 0;
            padding: 1em;
            flex: 0 0 auto;
            align-self: stretch;
            &:last-child {
                border-bottom: 1px solid rgba(255,255,255,0.2);
            }
            transition: background .3s ease-out;
            &:hover {
                background: rgba(255,255,255, 0.1);
                transition-duration: .05s;
            }
            &.active {
                background: rgba(255,255,255, 0.2);
            }
        }
        flex: 0 0 20em;
        background: #333;
        display: flex;
        flex-direction: column;
        .logo-isen {
            font-size: 1.1em;
            color: white;
            h2 { border-color: white; }
            align-self: center;
            flex: 0 0 auto;
        }
        nav {
            flex: 1 0 auto;
            display: flex;
            flex-direction: column;
        }
    }

    .error {
        position: fixed;
        top: 1em; right: 1em;
        margin: auto;

    }

    .main {
        flex: 1 1 auto;
        margin: 1em;
    }

    table{
        border-collapse: collapse;
        table-layout: fixed;

        input, button, thead td{
            background: transparent;
            margin: 0;
            padding: 0.6em 0.3em;
            border-radius: 0;
        }
        input, button {
            border: 0;
        }
        input[disabled]{
            color: inherit;
        }
        input:not([disabled]){
            background: white;
        }

        button{
            font-size: 1.4em;
            line-height: 0;
        }

        thead {
            position: -webkit-sticky;
            position: sticky;
            top: 0;
            background: #fcfcfb;
        }

        tr.success {
            animation: success 1s ease-out;
        }

        td {
            border: 1px solid rgba(0,0,0,0.3);
            background: rgba(0,0,0,0.1);
            margin: 0;
        }
        tr:nth-child(2n) td {
            background: rgba(0,0,255,0.05);
        }

    }
}

@keyframes success {
    from{
        background: rgba(0, 255, 0, 0.3);
    }
    to{
        background: rgba(0, 255, 0, 0);
    }
}
