@mixin spinner(
    $color: rgba(0,0,0,1),
    $ring-color: rgba(0,0,0,0.4),
    $size: 2em,
    $thickness: 0.3em
){
    min-width: $size;
    min-height: $size;

    content: "";
    display: block;
    position: relative;
    border: none;
    width: $size;
    height: $size;
    border-radius: 10000px;
    overflow: hidden;
    animation: spinner-spin linear 2s infinite;
    -webkit-animation: spinner-spin linear 2s infinite;
    &:before{
        content: "";
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        display: block;
        border: $ring-color $thickness solid;
        border-radius: 10000px;
        width: $size;
        height: $size;
        position: absolute;
        top: 0;
        left: 0;
    }
    &:after {
        content: "";
        z-index: 2e9;
        margin: 0; padding: 0;
        display: block;
        border: $color $size/2 solid;
        border-right-color: fade-out($color, 1);
        border-bottom-color: fade-out($color, 1);
        border-left-color: fade-out($color, 1);
        width: 1px;
        height: 1px;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 0;
    }
}

@-webkit-keyframes spinner-spin{
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spinner-spin{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
